* {

}

        .auto-style1 {
        }

@font-face {
    font-family: 'titillium';
    src: url(titillium.ttf);
}

html, body {
    text-shadow: 0 0 5px #ccc;
    font-family: 'titillium';
    text-align: center;
}

table {
    clear: both;
    border: 3px double white;
    background-image:url(img/grond.jpg)
}

table td {
    border:2px double white;
}

.topbar {
    display: flex;
    justify-content: center;
}

.item, .tool, table td {
    width: 140px;
    height: 140px;
}

.challenges {
    position: absolute;
    align:right;
    border: 1px solid green;
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
}