* {
    margin: 0;
    padding: 0;
}

        .auto-style1 {
            height: 168px;
            border:2px double white;
        }

@font-face {
    font-family: 'titillium';
    src: url(titillium.ttf);
}

html, body {
    text-shadow: 0 0 5px #888;
    font-family: 'titillium';
}