* {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

@font-face {
    font-family: 'titillium';
    src: url(titillium.ttf);
}

html, body {
    text-shadow: 0 0 5px #ccc;
    font-family: 'titillium';
    text-align: center;
}

table {
    margin: 0 auto;
    clear: both;
    border: 3px double white;
    background-image:url(img/grond.jpg)
}

table td {
    border:0px double white;
}

.topbar {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
}

.chat, .seeds {
    flex: 2;
}

.seeds {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

table {
    flex: 5;
}

.chat {
    border: 2px solid black;
    margin: 10px;
    text-align: left
}

.chat h2 {
    text-align: center;
}

.chat .name {
    font-weight: bold;
}

.chat li {
    margin: 5px;
    font-size: smaller;
}

.chat input {
    width: 90%;
    padding: 5px;
}

.item, .tool, table td {
    width: 100px;
    height: 100px;
}

.tool {
    transition: 0.5s transform;
}

.gieter.ui-draggable-dragging {
    transform: translateX(-50px) translateY(-30px) rotateZ(70deg) ;
}

.schepje.ui-draggable-dragging {
    animation-name: wiggle;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.challenges {
    position: absolute;
    border: 1px solid green;
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
    font-size: smaller;
}



@keyframes wiggle {
    0% { transform: rotateZ(10deg)}
    50% { transform: translateY(20px) rotateZ(-10deg)}
    100% { transform: rotateZ(10deg)}
}